
<app-header></app-header>

<div class="container">
    <div class="card mt-4 w-50 text-center">
        <div class="card-header">
            <h2>Counter</h2>
        </div>
        <div class="card-body ">
            <h1>{{number}}</h1>
            <button class="btn btn-danger me-2" (click)="dec()">Decrement</button>
            <button class="btn btn-primary" (click)="inc()">Increment</button>
        </div>
    </div>


    <div class="card mt-4 w-50 text-center">
        <div class="card-header">
            <h2>Whish Message-1</h2>
        </div>
        <div class="card-body ">
            <h1>Hello, {{message1}}</h1>
            <button class="btn btn-danger " (click)="morning()">Good Morning</button>
            <button class="btn btn-primary mx-2" (click)="afternoon()">Good Afternon</button>
            <button class="btn btn-primary" (click)="evening()">Good Evening</button>
        </div>
    </div>


    <div class="card mt-4 w-50 text-center">
        <div class="card-header">
            <h2>Whish Message-2</h2>
        </div>
        <div class="card-body ">
            <h1>Hello, {{message2}}</h1>
            <button class="btn btn-danger " (click)="wish('Good Morning')">Good Morning</button>
            <button class="btn btn-primary mx-2" (click)="wish('Good Afternon')">Good Afternon</button>
            <button class="btn btn-primary"(click)="wish('Good Evening')">Good Evening</button>
        </div>
    </div>



    <div class="card mt-4 w-50 text-center">
        <div class="card-header">
            <h2>Show and Hide</h2>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Enter your password">
            <button class="btn btn-primary" type="button">Show</button>
            <button class="btn btn-danger" type="button">Hide</button>
          </div>
    </div>

</div>

<app-footer></app-footer>